* {
    /* padding: 0;
    margin: 0;
    box-sizing: border-box; */
    text-align: right;
}

body {
    background-image: url(background-image1.jpg);
    background-size: cover;
}

img {
    float: right;
}

footer{
    clear: both; /*  */
    text-align: center;
}

li  {
    list-style: none;
    display: inline-block;    
    color: white;
}

li a, li a:visited:active {
    text-decoration: none;
    color: white;
}

h2 {
    color: red;
}

p {
    color: red;
    text-align: center;
    border: 5px solid rgba(255, 176, 170, 0.5);
    cursor: pointer;
}

p {
    line-height: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 100%;
    font-family: 'Poiret One', cursive;
}

.webtext {
    border: 5px dashed green;
}

.active {
    color: red;
}

#div1 {
    background: rgba(0, 0, 255, 0.2);
}

#div2 {
    background: rgba(255, 0, 0, 0.2);
}